<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="Anil z" name="author">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Shopwise is Powerful features and You Can Use The Perfect Build this Template For Any eCommerce Website. The template is built for sell Fashion Products, Shoes, Bags, Cosmetics, Clothes, Sunglasses, Furniture, Kids Products, Electronics, Stationery Products and Sporting Goods.">
    <meta name="keywords" content="ecommerce, electronics store, Fashion store, furniture store,  bootstrap 4, clean, minimal, modern, online store, responsive, retail, shopping, ecommerce store">

    <!-- SITE TITLE -->
    <title>Rent Pe - Spend Less Save More </title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/template/RentPeContent/RentPeLogoMobile.png">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="~/Content/template/assets/css/animate.css">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="~/Content/template/assets/bootstrap/css/bootstrap.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="~/Content/template/assets/css/all.min.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/linearicons.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/simple-line-icons.css">
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="~/Content/template/assets/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/template/assets/owlcarousel/css/owl.theme.css">
    <link rel="stylesheet" href="~/Content/template/assets/owlcarousel/css/owl.theme.default.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/Content/template/assets/css/magnific-popup.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="~/Content/template/assets/css/slick.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/slick-theme.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Content/template/assets/css/style.css">
    <link rel="stylesheet" href="~/Content/template/assets/css/responsive.css">
    <script src="~/Content/template/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/Content/template/assets/js/jquery-ui.js"></script>
   
</head>

<body>
    <style>
        .container {
            max-width: 90%;
        }

        <style >
        /* Custom scrollbar styles */
        .cart_box {
            overflow: hidden;
            position: relative;
        }

        .cart_box .cart_list {
            height: 300px; /* Set the desired height for the scrollable area */
            overflow: auto;
        }

        /* Add custom scrollbar styles using SimpleBar */
        .cart_box .cart_list {
            /* Use the SimpleBar class to initialize custom scrollbar */
            /* This class will be added dynamically by the SimpleBar library */
            position: relative;
        }

            /* Optional: Customize the scrollbar appearance */
            .cart_box .cart_list::-webkit-scrollbar {
                width: 8px;
            }

            .cart_box .cart_list::-webkit-scrollbar-thumb {
                background-color: #888;
            }

            .cart_box .cart_list::-webkit-scrollbar-track {
                background-color: #f1f1f1;
            }
        .fa fa-solid fa-heart{
            cursor:pointer;
        }
    </style>

    <!-- LOADER -->
    <div class="preloader">
        <div class="lds-ellipsis">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- END LOADER -->
    <!-- START HEADER -->
    <header class="header_wrap">

        <div class="middle-header dark_skin">
            <div style="max-width:90%;" class="container">
                <div class="nav_block">
                    <a class="navbar-brand" href="@Url.Action("", "")">
                        <img class="logo_light" src="~/Content/template/RentPeContent/RentPeLogoDesktop.png" alt="logo" />
                        <img class="logo_dark" src="~/Content/template/RentPeContent/RentPeLogoDesktop.png" alt="logo" />
                    </a>
                    <div class="contact_phone order-md-last">
                        @*<i class="linearicons-phone-wave"></i>*@
                        <a href="@Url.Action("PostAd", "Home")" class="btn btn-fill-out">Post Ad</a>
                    </div>
                    @*<div class="order-md-lastsingle_banner_info">
                            <h5 class="single_bn_title1">Super Sale</h5>
                            <h3 class="single_bn_title">New Collection</h3>
                            <a href="shop-left-sidebar.html" class="single_bn_link">Shop Now</a>
                        </div>*@
                    <div class="product_search_form">
                        <form id="CheckForm">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="custom_select">
                                        <select id="Category" class="first_null">
                                            <option value="All">All Category</option>

                                            <option value="Bridal Dresses">Bridal Dresses</option>
                                            <option value="Vehicles">Vehicles</option>
                                            <option value="Books">Books</option>
                                            <option value="Jewellery">Jewellery</option>
                                            <option value="Home Decor">Home Decor</option>
                                            <option value="Property">Property</option>
                                            <option value="Electronics & Appliances">Electronics & Appliances</option>
                                            <option value="Footwear">Footwear</option>
                                            <option value="Sports">Sports</option>
                                        </select>
                                    </div>
                                </div>
                                <input id="SearchTerm" name="SearchTerm" class="form-control" placeholder="Search Product..." required="" type="text">
                                <button type="button" onclick="SearchProductsInShop()" class="search_btn"><i class="linearicons-magnifier"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_header light_skin main_menu_uppercase bg_dark mb-4">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-4 col-sm-6 col-3">
                        <div class="categories_wrap">
                            <button type="button" data-bs-toggle="collapse" data-bs-target="#navCatContent" aria-expanded="false" class="categories_btn">
                                <i class="linearicons-menu"></i><span>All Categories </span>
                            </button>
                            <div id="navCatContent" class="nav_cat navbar collapse">
                                <ul>

                                    <li><a class="dropdown-item nav-link nav_item" href="@Url.Action("ShopByCategory", "Home", new { Category = "Bridal Dresses" })"><i class="flaticon-vintage"></i> <span>Bridal Dresses</span></a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="@Url.Action("ShopByCategory", "Home", new { Category = "Vehicles" })"><i class="flaticon-shipped"></i> <span>Vehicles</span></a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="@Url.Action("ShopByCategory", "Home", new { Category = "Clothes" })"><i class="flaticon-jacket"></i> <span>Clothes</span></a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="@Url.Action("ShopByCategory", "Home", new { Category = "Furniture & Home Decor" })"><i class="flaticon-table"></i> <span>Furniture & Home Decor</span></a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="@Url.Action("ShopByCategory", "Home", new { Category = "Books" })"><img style="padding-right:4px; padding-left:4px;width:27px" src="~/Content/template/RentPeContent/book.png" /> <span style="padding-left:5px">Books</span></a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="@Url.Action("ShopByCategory", "Home", new { Category = "Jewellery" })"><i class="flaticon-necklace"></i> <span>Jewellery</span></a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="@Url.Action("ShopByCategory", "Home", new { Category = "Property" })"><img style="padding-right:5px;width:30px;" src="~/Content/template/RentPeContent/property.png" /> <span>Property</span></a></li>
                                 
                                    <li>
                                        <ul class="more_slide_open">
                                            <li><a class="dropdown-item nav-link nav_item" href="@Url.Action("ShopByCategory", "Home", new { Category = "Electronics & Appliances" })"><i class="flaticon-music-system"></i> <span>Electronics & Appliances</span></a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="@Url.Action("ShopByCategory", "Home", new { Category = "Footwear" })"><i class="flaticon-sneakers"></i> <span>Footwear</span></a></li>
                                            <li><a class="dropdown-item nav-link nav_item" href="@Url.Action("ShopByCategory", "Home", new { Category = "Sports" })"><i class="flaticon-ball"></i> <span>Sports</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="more_categories">More Categories</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-8 col-sm-6 col-9">
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler side_navbar_toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSidetoggle" aria-expanded="false">
                                <span class="ion-android-menu"></span>
                            </button>
                            <div class="collapse navbar-collapse mobile_side_menu" id="navbarSidetoggle">
                                <ul class="navbar-nav">
                                    <li><a id="Home" class="nav-link nav_item" href="@Url.Action("", "")">Home</a></li>
                                    @*<li class="dropdown">
                                            <a data-bs-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Categories</a>
                                            <div class="dropdown-menu">
                                                <ul>
                                                    <li><a class="dropdown-item nav-link nav_item" href="index.html">Bridal Dresses</a></li>
                                                    <li><a class="dropdown-item nav-link nav_item" href="index-2.html">Vehicles</a></li>
                                                    <li><a class="dropdown-item nav-link nav_item" href="index-3.html">Clothes</a></li>
                                                    <li><a class="dropdown-item nav-link nav_item" href="index-3.html">Furniture & Home Decor</a></li>
                                                    <li><a class="dropdown-item nav-link nav_item" href="index-4.html">Books</a></li>
                                                    <li><a class="dropdown-item nav-link nav_item" href="index-5.html">Jewellery</a></li>
                                                    <li><a class="dropdown-item nav-link nav_item" href="index-6.html">Property</a></li>
                                                    <li><a class="dropdown-item nav-link nav_item" href="index-6.html">Electronics & Appliances</a></li>
                                                    <li><a class="dropdown-item nav-link nav_item" href="index-6.html">Footwear</a></li>
                                                    <li><a class="dropdown-item nav-link nav_item" href="index-6.html">Sports</a></li>
                                                </ul>
                                            </div>
                                        </li>*@
                                    <li><a id="About" class="nav-link nav_item" href="@Url.Action("About", "Home")">About us</a></li>
                                    <li><a id="Contact" class="nav-link nav_item" href="@Url.Action("Contact", "Home")">Contact us</a></li>
                                    <li><a id="Shop" class="nav-link nav_item" href="@Url.Action("Shop", "Home")">Shop</a></li>

                                    
                                </ul>
                            </div>
                            <ul class="navbar-nav attr-nav align-items-center">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li><a href="@Url.Action("Login", "Account")" class="nav-link"><i class="linearicons-user"></i></a></li>
                                }
                                else
                                {
                                    if (User.IsInRole("Admin"))
                                    {
                                        <li><a href="@Url.Action("Dashboard", "Admin")" class="nav-link"><i class="linearicons-user"></i></a></li>
                                    }
                                    else if (User.IsInRole("User"))
                                    {
                                        <li><a href="@Url.Action("Dashboard", "User")" class="nav-link"><i class="linearicons-user"></i></a></li>

                                    }
                                    else if (User.IsInRole("Owner"))
                                    {
                                        <li><a href="@Url.Action("Dashboard", "Owner")" class="nav-link"><i class="linearicons-user"></i></a></li>

                                    }
                                }
                                <li>
                                    <a href="#" class="nav-link cart_trigger" data-bs-toggle="dropdown"><i class="linearicons-heart"></i><span class="wishlist_count">0</span></a>
                                    <div style="padding:10px;" class="cart_box dropdown-menu dropdown-menu-right">
                                        <ul id="favoritesList" class="cart_list">
                                        </ul>

                                    </div>
                                </li>

                            </ul>
                            <div class="pr_search_icon">
                                <a href="javascript:void(0);" class="nav-link pr_search_trigger"><i class="linearicons-magnifier"></i></a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- END HEADER -->
    <!-- START SECTION BANNER -->
    <!-- END SECTION BANNER -->
    <!-- END MAIN CONTENT -->
    <div class="main_content">


        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()}
        @RenderBody()
    </div>
    <!-- END MAIN CONTENT -->
    <!-- START FOOTER -->
    <footer class="footer_dark">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget">
                            <div class="footer_logo mr-2">
                                <a href="~/Content/template/#"><img src="~/Content/template/RentPeContent/logo-title-white.png" alt="logo" /></a>
                            </div>
                            <p style="padding-right:50px">Shop smarter, not harder - find amazing deals and save big with us.</p>
                        </div>
                        <div class="widget">
                            <ul class="social_icons social_white">
                                <li><a href="~/Content/template/#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="~/Content/template/#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="~/Content/template/#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="~/Content/template/#"><i class="ion-social-youtube-outline"></i></a></li>
                                <li><a href="~/Content/template/#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="widget_title">Useful Links</h6>
                            <ul class="widget_links">
                                <li><a href="~/Content/template/#">About Us</a></li>
                                <li><a href="~/Content/template/#">FAQ</a></li>
                                <li><a href="~/Content/template/#">Location</a></li>
                                <li><a href="~/Content/template/#">Affiliates</a></li>
                                <li><a href="~/Content/template/#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="widget_title">Category</h6>
                            <ul class="widget_links">
                                <li><a href="~/Content/template/#">Men</a></li>
                                <li><a href="~/Content/template/#">Woman</a></li>
                                <li><a href="~/Content/template/#">Kids</a></li>
                                <li><a href="~/Content/template/#">Best Saller</a></li>
                                <li><a href="~/Content/template/#">New Arrivals</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="widget">
                            <h6 class="widget_title">My Account</h6>
                            <ul class="widget_links">
                                <li><a href="~/Content/template/#">My Account</a></li>
                                <li><a href="~/Content/template/#">Discount</a></li>
                                <li><a href="~/Content/template/#">Returns</a></li>
                                <li><a href="~/Content/template/#">Orders History</a></li>
                                <li><a href="~/Content/template/#">Order Tracking</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="widget">
                            <h6 class="widget_title">Contact Info</h6>
                            <ul class="contact_info contact_info_light">
                                <li>
                                    <i class="ti-location-pin"></i>
                                    <p>Mubix Solution</p>
                                </li>
                                <li>
                                    <i class="ti-email"></i>
                                    <a href="~/Content/template/mailto:info@rentpe.bsite.net">info@rentpe.bsite.net</a>
                                </li>
                                <li>
                                    <i class="ti-mobile"></i>
                                    <p>+ 92 307 287 6363</p>
                                    <p>+ 92 300 925 9266</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_footer border-top-tran">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-md-0 text-center text-md-start">© 2023 All Rights Reserved by RentPe</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="footer_payment text-center text-lg-end">
                            <li><a href="~/Content/template/#"><img src="~/Content/template/assets/images/visa.png" alt="visa"></a></li>
                            <li><a href="~/Content/template/#"><img src="~/Content/template/assets/images/discover.png" alt="discover"></a></li>
                            <li><a href="~/Content/template/#"><img src="~/Content/template/assets/images/master_card.png" alt="master_card"></a></li>
                            <li><a href="~/Content/template/#"><img src="~/Content/template/assets/images/paypal.png" alt="paypal"></a></li>
                            <li><a href="~/Content/template/#"><img src="~/Content/template/assets/images/amarican_express.png" alt="amarican_express"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->

    <a href="~/Content/template/#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>


    <script src="~/Content/template/assets/js/popper.min.js"></script>
    <script src="~/Content/template/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/template/assets/owlcarousel/js/owl.carousel.min.js"></script>
    <script src="~/Content/template/assets/js/magnific-popup.min.js"></script>
    <script src="~/Content/template/assets/js/waypoints.min.js"></script>
    <script src="~/Content/template/assets/js/parallax.js"></script>
    <script src="~/Content/template/assets/js/jquery.countdown.min.js"></script>
    <script src="~/Content/template/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/template/assets/js/isotope.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.dd.min.js"></script>
    <script src="~/Content/template/assets/js/slick.min.js"></script>
    <script src="~/Content/template/assets/js/jquery.elevatezoom.js"></script>
    <script src="~/Content/template/assets/js/scripts.js"></script>




</body>
</html>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var divToRemove = document.querySelector("div[style='position: fixed; z-index: 999999; width: 100%; height: 55px; padding: 10px; background-color: rgba(17, 16, 16, 0.93); bottom: 0px; left: 0px; right: 0px; display: flex; align-items: center; justify-content: center; gap: 20px; color: white;']");

        if (divToRemove) {
            divToRemove.remove();
        }
    });

    function SearchProductsInShop() {
        var Category = $("#Category").val();
        var SearchTerm = $("#SearchTerm").val();
        var url = '@Url.Action("ShopByCategoryandSearchTerm", "Home")?Category=' + encodeURIComponent(Category) + '&SearchTerm=' + encodeURIComponent(SearchTerm);
        window.location.href = url;
    }



    $(document).ready(function () {

            var data = '@Session["ACTIVER"]';
            if (data == 'HOME') {
                var elem = document.getElementById("Home");

                elem.className += ' active';
            }

            if (data == 'ABOUT') {
                var elem = document.getElementById("About");
                elem.className += ' active';
            }

            if (data == 'CONTACT') {
                var elem = document.getElementById("Contact");
                elem.className += ' active';
            }


            if (data == 'SHOP') {
                var elem = document.getElementById("Shop");
                elem.className += ' active';
            }





       });




    // Function to generate the HTML for a favorite product list item
    function generateFavoriteProductHTML(product) {
        return `<li>
                <a style="cursor:pointer;" onclick="RemoveFromFavourites('${product.ID}')" class="item_remove"><i class="ion-close"></i></a>
                <a href="${getUrl(product.ID)}"><img src="${product.MainImage}" alt="${product.ItemName}">${product.ItemName}</a>
                <span class="cart_quantity">${product.Condition} - <span class="cart_amount"> <span class="price_symbole">PKR </span></span>${product.Price}</span>
            </li>`;
    }


    function getUrl(productId) {
        // Replace with your URL generation logic based on productId
        return '@Url.Action("View", "Home")' + '?ID=' + productId;
    }

    // Function to update the favorites dropdown with the favorite products
    function updateFavoritesDropdown() {
        var favorites = localStorage.getItem('favorites') || [];
        if (favorites) {
            favorites = JSON.parse(favorites);
        } else {
            favorites = [];
        }

        var favoritesList = document.getElementById('favoritesList');
        favoritesList.innerHTML = ''; // Clear previous favorite products

        favorites.forEach(function (productId) {
            // AJAX request to retrieve product details
            $.ajax({
                url: '@Url.Action("GetProductDetails", "Home")', // Replace with your controller action URL
                type: 'GET',
                data: { productId: productId },
                success: function (product) {
                    var favoriteProductHTML = generateFavoriteProductHTML(product);
                    favoritesList.innerHTML += favoriteProductHTML;
                },
                error: function (xhr, status, error) {
                    console.log(error); // Handle error if needed
                }
            });
        });

        var wishlistCount = document.querySelector('.wishlist_count');
        wishlistCount.innerText = favorites.length; // Update the wishlist count
    }

    // Call the updateFavoritesDropdown function to populate the favorites dropdown initially
    //updateFavoritesDropdown();

    function RemoveFromFavourites(productId) {
        var favorites = localStorage.getItem('favorites') || [];
        if (favorites.length > 0) {
            favorites = JSON.parse(favorites);
        } else {
            favorites = []; // Initialize as an empty array
        }
        if (favorites.length > 0) {
            var index = favorites.indexOf(productId);
            
            if (index > -1) {
                favorites.splice(index, 1);
            }
            localStorage.setItem('favorites', JSON.stringify(favorites));

            // Remove 'favorite' class from the icon
            document.querySelector(`a[data-id="${productId}"] i`).classList.remove('favorite');

            // Change the icon color to black
            var icon = $('i[data-flow="' + productId + '"].fa.fa-solid.fa-heart');
            icon.css('color', 'black');

            alert("Removed from Favorites");
            updateFavoritesDropdown();
        } else {
            alert("Nothing in Favourites");

        }

    }

    function addToFavorites(productId) {
        
        var favorites = localStorage.getItem('favorites') || [];
        
        if (favorites.length > 0) {
            favorites = JSON.parse(favorites);
        } else {
            favorites = []; // Initialize as an empty array
        }
        

        if (favorites.includes(productId)) {
            // Remove the productId from favorites
            var index = favorites.indexOf(productId);
            if (index > -1) {
                favorites.splice(index, 1);
            }
            localStorage.setItem('favorites', JSON.stringify(favorites));

            // Remove 'favorite' class from the icon
            document.querySelector(`a[data-id="${productId}"] i`).classList.remove('favorite');

            // Change the icon color to black
            var icon = $('i[data-flow="' + productId + '"].fa.fa-solid.fa-heart');
            icon.css('color', 'black');

            alert("Removed from Favorites");
        } else {
            favorites.push(productId);
            localStorage.setItem('favorites', JSON.stringify(favorites));
            document.querySelector(`a[data-id="${productId}"] i`).classList.add('favorite');
            var icon = $('i[data-flow="' + productId + '"].fa.fa-solid.fa-heart');
            icon.css('color', 'red');

            alert("Added to Favorites");
        }
        updateFavoritesDropdown();

    }


    function ApplyFilter() {
        var favorites = localStorage.getItem('favorites') || [];
        //var favorites = JSON.parse(favorites);

        // Iterate over each Ad after the completion of the foreach loop
        var ads = document.querySelectorAll('.product');
        console.log(favorites);
        
        if (ads.length > 0) {
            
            ads.forEach(function (ad) {

                var productId = ad.querySelector('.add-to-favorites a').getAttribute('data-id');
                if (favorites.includes(productId)) {

                    var icon = $('i[data-flow="' + productId + '"].fa.fa-solid.fa-heart');
                    icon.css('color', 'red');


                }
            });
        }
    }
    $(document).ready(function () {
        ApplyFilter();
        updateFavoritesDropdown();

    });
    function GetFavoriteClass(productId) {
        var favorites = localStorage.getItem('favorites') || [];

        if (favorites.includes(productId)) {
            return 'favorite'; // CSS class to highlight the favorite icon
        } else {
            return ''; // Empty string for no highlighting
        }
    }
</script>