@model RentPe.ViewModels.CustomOfferViewModel

<style>
    #actionButton.loader {
        position: relative;
    }

        #actionButton.loader:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid #f3f3f3;
            border-top: 2px solid #3498db;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            animation: spin 0.8s linear infinite;
        }

    @@keyframes spin {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }

        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
</style>
@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
            </button>
            <div class="row g-0">
                <div class="col-12">
                    <div class="popup_content">
                        <div class="popup-text">
                            <div class="heading_s4">
                                <h4>Send Custom Offer for Rental Item</h4>
                            </div>
                            <p>Please provide the following information to send a custom offer for the rental item.</p>
                        </div>
                        
                        <div class="row">
                            <form class="col-md-8" id="ActionForm">
                                <input type="hidden" name="Owner" id="Owner" value="@Model.OwnerFull.Id" />
                                <input type="hidden" name="Rentee" id="Rentee" value="@Model.Rentee" />

                                <div class="form-group mb-3">
                                    <label>Item Name</label>
                                    <input class="form-control rounded-0" type="hidden" name="Item" value="@Model.ItemFull.ID">
                                    <input class="form-control" type="text" disabled name="ItemName" value="@Model.ItemFull.ItemName">

                                </div>

                                <div class="form-group mb-3">
                                    <input class="form-control rounded-0" name="OfferedPrice" id="OfferedPrice" placeholder="Enter Your Offer">
                                </div>


                                <div class="form-group mb-3">
                                    <input name="RentingPeriod" id="RentingPeriod" hidden  type="number" class="form-control rounded-0" placeholder="Renting Period (in days)">
                                    <input name="RentingPeriod2" id="RentingPeriod2" disabled  type="number" class="form-control rounded-0" placeholder="Renting Period (in days)">
                                </div>
                                <div class="row">
                                    <div class="form-group col-6 mb-3">
                                        <label for="start_date">Renting  Date:</label>
                                        @Html.TextBox("RentingDate", DateTime.Now, "{0:yyyy-MM-dd}", new { @style = "width:100%", @id = "RentingDate", @class = "form-control", type = "date" })
                                    </div>
                                    <div class="form-group col-6 mb-3">
                                        <label for="end_date">Return Date:</label>
                                        @Html.TextBox("ReturnDate", DateTime.Now, "{0:yyyy-MM-dd}", new { @style = "width:100%", @id = "ReturnDate", @class = "form-control", type = "date" })
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <textarea name="Message" id="Message"  class="form-control rounded-0" placeholder="Message to Seller"></textarea>
                                </div>
                                <div class="form-group mb-3">
                                    <button id="actionButton" type="button" class="btn btn-fill-line btn-block text-uppercase rounded-0"><i class="fas fa-sharp fa-light fa-money-bill"></i> Send Offer</button>

                                </div>
                            </form>
                            <div class="col-md-4">
                                <label class="text-center">Image</label>
                                <img src="@Model.ItemFull.MainImage" style="height:300px;object-fit:cover;" />
                                <div class="form-group">
                                    <label class="text-center">Asking Rent</label>
                                    <input type="text" class="form-control" disabled value="@Model.ItemFull.Price" />
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>


    
}

<script>

    function calculateRentingPeriod() {
        // Get the values of the "Available From" and "Available To" fields
        var availableFrom = new Date(document.getElementById('RentingDate').value);
        var availableTo = new Date(document.getElementById('ReturnDate').value);

        // Calculate the renting period in milliseconds
        var rentingPeriodMs = availableTo - availableFrom;

        // Convert the renting period to days
        var rentingPeriodDays = Math.ceil(rentingPeriodMs / (1000 * 60 * 60 * 24));

        // Display the renting period
        $("#RentingPeriod").val(rentingPeriodDays);
        $("#RentingPeriod2").val(rentingPeriodDays);
    }

    // Add onchange event listeners to the date pickers
    document.getElementById('RentingDate').onchange = calculateRentingPeriod;
    document.getElementById('ReturnDate').onchange = calculateRentingPeriod;

    $(document).ready(function () {
        calculateRentingPeriod();
    })

    $("#actionButton").click(function () {
        var button = document.getElementById('actionButton');
        button.classList.add('loader');
        button.disabled = true;
		$.ajax({
			url: '@Url.Action("SendCustomOffer", "Home")',
			type: "post",
            data: $("#ActionForm").serialize()
		})
		.done(function (response) {
			if(response.success)
            {
                window.location.href = '@Url.Action("Dashboard", "User")';
			}
			else {
				$(".errorDiv").html(response.Message);
			}
		});
	});
</script>
