@model RentPe.ViewModels.HomeShopViewModel
@{
    ViewBag.Title = "Shop";
}

<head>
    <style>
        .favourite {
            color: #ff0000;
        }

        .nav_cat {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-in-out;
        }

            .nav_cat.show {
                max-height: 900px;
            }

        #navCatContent {
            background-color: #fff;
            position: absolute;
            padding: 0px 0px 0;
            top: 100%;
            width: 100%;
            left: 0;
            right: 0;
            box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
            z-index: 99;
        }
    </style>
</head>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row align-items-center mb-4 pb-1">
                    <div class="col-12">
                        <div class="product_header">
                            <div class="product_header_left">
                                <div class="custom_select">
                                    <select id="SortingMethod" class="form-control form-control-sm">
                                        <option value="byId">Default sorting</option>
                                        <option value="latest">Sort by newness</option>
                                        <option value="lowtohigh">Sort by price: low to high</option>
                                        <option value="hightolow">Sort by price: high to low</option>
                                    </select>
                                </div>
                            </div>
                            <div class="product_header_right">
                                <div class="products_view">
                                    <a class="shorting_icon grid"><i class="ti-view-grid"></i></a>
                                    <a class="shorting_icon list active"><i class="ti-layout-list-thumb"></i></a>
                                </div>
                                <div class="custom_select">
                                    <select class="form-control form-control-sm">
                                        <option value="">Showing</option>
                                        <option value="9">9</option>
                                        <option value="12">12</option>
                                        <option value="18">18</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="adsContainer" class="row shop_container list">
                    @foreach (var item in Model.Ads)
                    {
                        <div class="col-md-4 col-6">
                            <div class="product">
                                <div class="product_img">
                                    <a href="@Url.Action("View", "Home", new {ID=item.Ad.ID })">
                                        <img src="@item.Ad.MainImage" alt="product_img1">
                                    </a>
                                    <div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li class="add-to-cart"><a href="@Url.Action("View", "Home", new {ID=item.Ad.ID})"><i class="icon-basket-loaded"></i> Send Offer</a></li>

                                            <li class="add-to-favorites">
                                                <a data-id="@item.Ad.ID" onclick="addToFavorites('@item.Ad.ID')">
                                                    <i data-flow="@item.Ad.ID" class="fa fa-solid fa-heart" style="color: black;"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="@Url.Action("View", "Home", new {ID=item.Ad.ID })">@item.Ad.ItemName</a></h6>
                                    <div class="product_price">
                                        <span class="price">@item.Ad.Price PKR</span>

                                    </div>

                                    <div class="pr_desc">
                                        <p><b>@item.Ad.ItemCategory</b></p>
                                        <p>
                                            @item.Ad.ItemDescription
                                        </p>
                                    </div>
                                    <div class="list_product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <li class="add-to-cart">
                                                    <button class="btn btn-fill-out" data-bs-toggle="modal" data-bs-target="#custom-offer-modal">
                                                        <i class="icon-basket-loaded"></i>Send Custom Offer
                                                    </button>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="add-to-cart">
                                                    <a href="@Url.Action("Login","Account")">
                                                        <i class="icon-basket-loaded"></i>Login to Send Custom Offer
                                                    </a>
                                                </li>
                                            }
                                                <li><a href="shop-compare.html" class="popup-ajax"><i class="icon-shuffle"></i></a></li>
                                                <li><a href="shop-quick-view.html" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                                <li class="add-to-favorites">
                                                    <a data-id="@item.Ad.ID" onclick="addToFavorites('@item.Ad.ID')">
                                                        <i data-flow="@item.Ad.ID" class="fa fa-solid fa-heart" style="color: black;"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                    </div>

                                    <div class="modal fade subscribe_popup" id="custom-offer-modal" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
                                                    </button>
                                                    <div class="row g-0">
                                                        <div class="col-12">
                                                            <div class="popup_content">
                                                                <div class="popup-text">
                                                                    <div class="heading_s4">
                                                                        <h4>Send Custom Offer for Rental Item</h4>
                                                                    </div>
                                                                    <p>Please provide the following information to send a custom offer for the rental item.</p>
                                                                </div>
                                                                <form method="post">
                                                                    <div class="form-group mb-3">
                                                                        <input name="offer_price" required type="text" class="form-control rounded-0" placeholder="Offer Price">
                                                                    </div>
                                                                    <div class="form-group mb-3">
                                                                        <input name="renting_period" required type="number" class="form-control rounded-0" placeholder="Renting Period (in days)">
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="form-group col-6 mb-3">
                                                                            <label for="start_date">Rent Start Date:</label>
                                                                            <input name="start_date" required type="date" class="form-control rounded-0" id="start_date">
                                                                        </div>
                                                                        <div class="form-group col-6 mb-3">
                                                                            <label for="end_date">Rent End Date:</label>
                                                                            <input name="end_date" required type="date" class="form-control rounded-0" id="end_date">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group mb-3">
                                                                        <textarea name="message" required class="form-control rounded-0" placeholder="Message to Seller"></textarea>
                                                                    </div>
                                                                    <div class="form-group mb-3">
                                                                        <button class="btn btn-fill-line btn-block text-uppercase rounded-0" title="Send Offer" type="submit">Send Offer</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>





                                    <hr />
                                    <span>@item.Time</span>
                                </div>
                            </div>
                        </div>
                    }


                </div>

            </div>
            <div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0">
                <div class="sidebar">
                    <div class="widget">
                        <h5 class="widget_title">Categories</h5>
                        <ul class="widget_categories">
                            @foreach (var item in Model.ItemsCategories)
                            {

                                <li><a href="@Url.Action("ShopByCategory", "Home", new {Category = item.CategoryName })"><span class="categories_name">@item.CategoryName</span><span class="categories_num"></span></a></li>

                            }

                        </ul>
                    </div>

                    <div class="widget">
                        <div class="shop_banner">
                            <div class="banner_img overlay_bg_20">
                                <img src="~/Content/template/assets/images/sidebar_banner_img.jpg" alt="sidebar_banner_img">
                            </div>
                            <div class="shop_bn_content2 text_white">
                                <h5 class="text-uppercase shop_subtitle">New Collection</h5>
                                <h3 class="text-uppercase shop_title">Sale 30% Off</h3>
                                <a href="#" class="btn btn-white rounded-0 btn-sm text-uppercase">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
       
    </div>
</div>







<script>

    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
    $(document).ready(function () {
        $('#SortingMethod').change(function () {
            var selectedMethod = $(this).val();
            updateAds(selectedMethod);
        });
    });
    function updateAds(sortingMethod) {
        $.ajax({
            url: '/Home/SortAds', // Replace with the actual URL of the action that retrieves the updated ads
            type: 'GET',
            data: { sortingMethod: sortingMethod }, // Pass the selected sorting method as a parameter
            success: function (response) {
                // Replace the ads section with the updated ads HTML
                $('#adsContainer').html(response);
            },
            error: function () {
                alert('Error occurred while updating ads.');
            }
        });
    }


    //function ApplyFilter() {
    //    var favorites = localStorage.getItem('favorites') || [];
    //    //var favorites = JSON.parse(favorites);

    //    // Iterate over each Ad after the completion of the foreach loop
    //    var ads = document.querySelectorAll('.product');
    //    console.log(favorites);
    //    ads.forEach(function (ad) {
    //        var productId = ad.querySelector('.add-to-favorites a').getAttribute('data-id');
    //        if (favorites.includes(productId)) {

    //            var icon = $('i[data-flow="' + productId + '"].fa.fa-solid.fa-heart');
    //            icon.css('color', 'red');


    //        }
    //    });
    //}
    //$(document).ready(function () {
    //    ApplyFilter();

    //});

    //function addToFavorites(productId) {
    //    var favorites = localStorage.getItem('favorites') || [];
    //    if (favorites) {
    //        favorites = JSON.parse(favorites);
    //    } else {
    //        favorites = []; // Initialize as an empty array
    //    }

    //    if (favorites.includes(productId)) {
    //        // Remove the productId from favorites
    //        var index = favorites.indexOf(productId);
    //        if (index > -1) {
    //            favorites.splice(index, 1);
    //        }
    //        localStorage.setItem('favorites', JSON.stringify(favorites));

    //        // Remove 'favorite' class from the icon
    //        document.querySelector(`a[data-id="${productId}"] i`).classList.remove('favorite');

    //        // Change the icon color to black
    //        var icon = $('i[data-flow="' + productId + '"].fa.fa-solid.fa-heart');
    //        icon.css('color', 'black');

    //        alert("Removed from Favorites");
    //    } else {
    //        favorites.push(productId);
    //        localStorage.setItem('favorites', JSON.stringify(favorites));
    //        document.querySelector(`a[data-id="${productId}"] i`).classList.add('favorite');
    //        var icon = $('i[data-flow="' + productId + '"].fa.fa-solid.fa-heart');
    //        icon.css('color', 'red');

    //        alert("Added to Favorites");
    //    }
    //}

    //function GetFavoriteClass(productId) {
    //    var favorites = localStorage.getItem('favorites') || [];

    //    if (favorites.includes(productId)) {
    //        return 'favorite'; // CSS class to highlight the favorite icon
    //    } else {
    //        return ''; // Empty string for no highlighting
    //    }
    //}
    // Wait for the document to be ready
    $('.categories_btn').on('click', function () {
        // Slide down the navCatContent element
        $('#navCatContent').toggleClass('show');
    });


</script>