@model RentPe.ViewModels.OrderListingViewModel
@{
    ViewBag.Title = "Index";
}
<style>
    .statusIcon {
        height: 30px;
        width: 30px;
    }
    .dropdown-toggle::after {
        display: none;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }
    .red-row{
        background-color:firebrick;
        color:white;
    }
    .orange-row{
        background-color:chocolate;
        color:white;
    }
</style>
<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        @if (Model != null && Model.Orders != null)
        {
            <div class="card">

                <table style="font-size:13px;" class="table">
                    <thead>
                        <tr>
                            <th>
                                Order No
                            </th>
                            <th>
                                Owner
                            </th>
                            <th>
                               Paid
                            </th>
                            
                            <th>
                                Total
                            </th>
                            <th>
                                Renter
                            </th>
                            <th>
                                Item
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Packing
                            </th>
                            <th>
                                Unboxing
                            </th>



                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Order in Model.Orders)
                        {

                            <tr class="@((Order.Order.VideoOfPacking == "" || Order.Order.VideoOfPacking == null) ? "red-row" : (Order.Order.VideoOfUnboxing == "" || Order.Order.VideoOfUnboxing == null) ? "orange-row" : "")">
                                <td>@Order.Order.OrderNo</td>
                                <td>@Order.Owner.Name</td>
                                <td>@Order.Order.AmountPaid</td>
                                <td>@Order.Order.TotalAmount</td>
                                <td>@Order.Renter.Name</td>
                                <td>@Order.Ad.ItemName</td>
                                <td>@Order.Order.Date</td>
                                <td>@Order.Order.Status</td>
                                <td class="text-center">
                                    @if (Order.Order.VideoOfPacking != null && Order.Order.VideoOfPacking != "")
                                    {
                                        <svg class="statusIcon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                             viewBox="0 0 50 50"
                                             style="fill:#40C057;">
                                            <path d="M25,48C12.318,48,2,37.682,2,25S12.318,2,25,2s23,10.318,23,23S37.682,48,25,48z"></path>
                                        </svg>

                                    }
                                    else
                                    {
                                        <svg class="statusIcon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                             viewBox="0 0 50 50"
                                             style="fill:#737373;">
                                            <path d="M25,48C12.317,48,2,37.682,2,25S12.317,2,25,2s23,10.318,23,23S37.683,48,25,48z"></path>
                                        </svg>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (Order.Order.VideoOfUnboxing != null && Order.Order.VideoOfUnboxing != "")
                                    {
                                        <svg class="statusIcon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                             viewBox="0 0 50 50"
                                             style="fill:#40C057;">
                                            <path d="M25,48C12.318,48,2,37.682,2,25S12.318,2,25,2s23,10.318,23,23S37.682,48,25,48z"></path>
                                        </svg>

                                    }
                                    else
                                    {
                                        <svg class="statusIcon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                             viewBox="0 0 50 50"
                                             style="fill:#737373;">
                                            <path d="M25,48C12.317,48,2,37.682,2,25S12.317,2,25,2s23,10.318,23,23S37.683,48,25,48z"></path>
                                        </svg>
                                    }
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-sm btn-outline-light dropdown-toggle dropdown-toggle-split">
                                            <!-- Three dots icon -->
                                            <img style="height:25px;" src="~/Content/template/assets/icons8-ellipsis-50.png" />
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="@Url.Action("Action", "Order", new { ID = Order.Order.ID })" class="dropdown-item"><i class="mdi mdi-pencil"></i> EDIT</a>
                                            <button data-href="@Url.Action("Delete", "Order", new { ID = Order.Order.ID })" type="button" class="data-btn dropdown-item" data-toggle="modal" data-target="#actionModal"><i class="mdi mdi-delete"></i>DELETE</button>
                                            <div class="dropdown-divider"></div>
                                            <button type="button" class="data-btn dropdown-item" data-href="@Order.Order.VideoOfPacking">Video Of Packing</button>
                                            <button type="button" class="data-btn dropdown-item" data-href="@Order.Order.VideoOfUnboxing">Video Of Unboxing</button>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        }
        else
        {
            <div class="alert alert-warning col-md-12" role="alert">
                Sorry! No records exist.
            </div>
        }
    </div>

</div>

<script>
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
</script>



