@model RentPe.ViewModels.OrderActionViewModel

@{
    ViewBag.Title = "Action";
    string imageurl = "/Content/template/assets/images/product_img5.jpg";

}

<style>
    #ActionButton.loader {
        position: relative;
    }

        #ActionButton.loader:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid #f3f3f3;
            border-top: 2px solid #3498db;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            animation: spin 0.8s linear infinite;
        }

    @@keyframes spin {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }

        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
</style>
<form id="PostAdForm" name="enq">
    <input type="hidden" name="ID" id="ID" value="@Model.ID" />


    <div class="row">
        <div class="form-group col-md-4 ">
            <label for="item-name">DAte</label>
            @Html.TextBox("Date", Model.Date, "{0:yyyy-MM-dd}", new { @style = "width:100%;", @id = "Date", @class = "form-control", type = "date" })

        </div>
        <div class="form-group col-md-4 ">
            <label for="item-name">Select Owner</label>
            <select class="form-control" name="Owner" id="Owner">
                @foreach (var item in Model.Renters)
                {
                    if (Model.Owner == item.Id)
                    {
                        <option selected value="@item.Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>

                    }
                }
            </select>
        </div>
        <div class="form-group col-md-4 ">
            <label for="item-name">Select Renter</label>
            <select class="form-control" name="Rentee" id="Rentee">
                @foreach (var item in Model.Renters)
                {
                    if (Model.Renter == item.Id)
                    {
                        <option selected value="@item.Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>

                    }
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 ">
            <label for="entry-date">Order No</label>
            <input placeholder="Enter Order No*" id="OfferedPrice" value="@Model.OrderNo" class="form-control" name="OrderNo" type="text">

        </div>


        <div class="form-group col-md-6 ">
            <label for="item-name">Select Ad</label>
            <select class="form-control" name="Item" id="Item">
                @foreach (var item in Model.Ads)
                {
                    if (int.Parse(Model.Item) == item.ID)
                    {
                        <option data-image=@item.MainImage selected value="@item.ID">@item.ItemName</option>
                    }
                    else
                    {
                        <option data-image=@item.MainImage value="@item.ID">@item.ItemName</option>

                    }
                }
            </select>
        </div>
    </div>
        <div class="row">
            <div class="form-group col-md-6">
                <hr />
                @if (Model.ID != 0)
                {
                    <img src="@imageurl" id="ImageThumb" style="height:100px;" />

                }
                else
                {
                    <img src="@Model.AdFull.MainImage" id="ImageThumb" style="height:100px;" />
                }
            </div>
        </div>

   
    <div class="row">
        <div class="form-group col-md-6 ">
            <label for="contact">Status</label>
            <select class="form-control">
                @foreach (var item in Model.StatusList)
                {

                    if (Model.Status == item)
                    {
                        <option selected value="@item.">@item</option>
                    }
                    else
                    {
                        <option value="@item">@item</option>

                    }

                }
            </select>
        </div>

        <div class="form-group col-md-6 ">
            <label for="Privacy">Amount Paid</label>
            <input placeholder="Enter Amount Paid *" id="AmountPaid" value="@Model.AmountPaid" class="form-control" name="AmountPaid" type="text">

        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 ">
            <label for="Privacy">Amount Remaining</label>
            <input placeholder="Enter Amount Remaining *" id="AmountRemain" value="@Model.AmountRemain" class="form-control" name="AmountRemain" type="text">

        </div>
        <div class="form-group col-md-6 ">
            <label for="Privacy">TotalAmount</label>
            <input placeholder="Enter Total Amount *" id="TotalAmount" value="@Model.TotalAmount" class="form-control" name="TotalAmount" type="text">

        </div>

    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label>
                Video of Packing
            </label>
            <div class="embed-responsive">
                <embed src="@Model.VideoOfPacking" />
            </div>
        </div>

        <div class="form-group col-md-6">
            <label>
                Video of Unboxing
            </label>
            <div class="embed-responsive">
                <embed src="@Model.VideoOfUnboxing" />
            </div>
        </div>
    </div>


    <div class="col-md-12 ">
        @if (Model.ID != 0)
        {


            <button type="button" title="Submit Your Message!" class="btn btn-info" id="ActionButton">UPDATE</button>
        }
        else
        {
            <button type="button" title="Submit Your Message!" class="btn btn-primary" id="ActionButton">SAVE</button>

        }
    </div>
    <div class="col-md-12 ">
        <div id="alert-msg" class="alert-msg text-center"></div>
    </div>
    
</form>

<script>
    // Function to calculate the renting period
   
    // Get the values of the "Available From" and "Available To" fields



    $("#ActionButton").click(function () {
        var button = document.getElementById('ActionButton');
        button.classList.add('loader');
        button.disabled = true;

        if ($("Owner").val() == $("Rentee").val()) {
            alert("Owner or Renter cannot be same");
            return;
        }

        $.ajax({
            url: '@Url.Action("Action", "Order")',
            type: "POST",
            data: $("#PostAdForm").serialize()
        })
            .done(function (response) {
                if (response.success) {

                    window.location.href = '@Url.Action("Index", "Order")';
                } else {
                    $(".errorDiv").html(response.Message);
                }
            })
            .fail(function (xhr, status, error) {
                console.error(xhr.responseText);
            });
    });







    $(document).ready(function () {
        $('#Item').change(function () {
            var imageUrl = $('option:selected', this).data('image');
            $('#ImageThumb').attr('src', imageUrl);
        });
    });


</script>

