@model RentPe.ViewModels.ItemActionViewModel

@{
    ViewBag.Title = "Action";
}

<form id="actionForm">
    <div class="row">
        <div class="card col-12">
            <div class="card-body">
                <h2 class="card-title">Item Create</h2>
                <hr />

                <div class="row">
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Item Name</span>
                            </div>
                            <input value="@Model.ItemName" id="ItemName" name="ItemName" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Item Description</span>
                            </div>
                            <textarea id="ItemDescription" name="ItemDescription" class="form-control">@Model.ItemDescription</textarea>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Favourites</span>
                            </div>
                            <input value="@Model.Favourites" id="Favourites" name="Favourites" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Item Category</span>
                            </div>
                            <input value="@Model.ItemCategory" id="ItemCategory" name="ItemCategory" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Renting Date</span>
                            </div>
                            <input value="@Model.RentingDate" id="RentingDate" name="RentingDate" type="datetime-local" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Renting Period</span>
                            </div>
                            <input value="@Model.RentingPeriod" id="RentingPeriod" name="RentingPeriod" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Return Date</span>
                            </div>
                            <input value="@Model.ReturnDate" id="ReturnDate" name="ReturnDate" type="datetime-local" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Item Size</span>
                            </div>
                            <input value="@Model.ItemSize" id="ItemSize" name="ItemSize" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Item Color</span>
                            </div>
                            <input value="@Model.ItemColor" id="ItemColor" name="ItemColor" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <br />
                <!-- Third Column -->
                <div class="row">
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Negotiable</span>
                            </div>
                            <input value="@Model.Negotiable" id="Negotiable" name="Negotiable" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Available From</span>
                            </div>
                            <input value="@Model.AvailableFrom" id="AvailableFrom" name="AvailableFrom" type="datetime-local" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Available To</span>
                            </div>
                            <input value="@Model.AvailableTo" id="AvailableTo" name="AvailableTo" type="datetime-local" class="form-control">
                        </div>
                    </div>
                </div>
                <br />
                <!-- Second row -->
                <div class="row">
                    <!-- First Column -->
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Brand</span>
                            </div>
                            <input value="@Model.Brand" id="Brand" name="Brand" type="text" class="form-control">
                        </div>
                    </div>
                    <!-- Second Column -->
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Condition</span>
                            </div>
                            <input value="@Model.Condition" id="Condition" name="Condition" type="text" class="form-control">
                        </div>
                    </div>
                    <!-- Third Column -->
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Entry Date</span>
                            </div>
                            <input value="@Model.EntryDate" id="EntryDate" name="EntryDate" type="datetime-local" class="form-control">
                        </div>
                    </div>
                </div>
                <br />
                <!-- Third row -->
                <div class="row">
                    <!-- First Column -->
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Location</span>
                            </div>
                            <input value="@Model.Location" id="Location" name="Location" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Note</span>
                            </div>
                            <textarea id="Note" name="Note" class="form-control">@Model.Note</textarea>
                        </div>
                    </div>
                    <!-- Second Column -->
                    <div class="col-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Label</span>
                            </div>
                            <input value="@Model.Label" id="Label" name="Label" type="text" class="form-control">
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                @if (Model.ID != 0)
                {
                    <button id="actionButton" type="button" class="btn btn-primary"><i class="fa fa-save mr-1"></i> Update</button>
                }
                else
                {
                    <button id="actionButton" type="button" class="btn btn-primary"><i class="fa fa-save mr-1"></i> Save</button>
                }
                <a href="@Url.Action("Index","Item")" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times mr-1"></i> Close</a>
            </div>
        </div>

    </div>
</form>

<script>
   $("#actionButton").click(function () {
    $.ajax({
        url: '@Url.Action("Action", "Item")',
        type: "POST",
        data: $("#actionForm").serialize()
    })
    .done(function (response) {
        if (response.Success) {
            window.location.href = '@Url.Action("Index", "Item")';
        } else {
            $(".errorDiv").html(response.Message);
        }
    })
    .fail(function (xhr, status, error) {
        console.error(xhr.responseText);
    });
});

</script>

