@model RentPe.ViewModels.AdListingViewModel
@{
    ViewBag.Title = "Index";
}
<div class="row">
   
    <div class="col-lg-12 grid-margin stretch-card">
        @if (Model != null && Model.Ads != null)
        {
            <div class="card">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Image
                                </th>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Condition
                                </th>
                                <th>
                                    Tag
                                </th>
                                <th>
                                    Authenticity
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Ad in Model.Ads)
                            {
                                <tr>
                                    <td><img src="@Ad.MainImage" style="height:100px;border:solid 1px black;" /></td>
                                    <td>@Ad.ID</td>
                                    <td>@Ad.ItemName</td>
                                    <td>@Ad.ItemCategory</td>
                                    <td>@Ad.Condition</td>
                                    <td>@Ad.Tag</td>
                                    <td>@Ad.Authenticity</td>
                                    <td>
                                        <a href="@Url.Action("AdAction", "Ad", new { ID = Ad.ID })" type="button" class="btn btn-outline-info btn-icon-text" ><i class="mdi mdi-pencil"></i> EDIT</a>
                                        <button data-href="@Url.Action("Delete", "Ad", new { ID = Ad.ID })" type="button" class="data-btn btn btn-outline-danger btn-icon-text" data-toggle="modal" data-target="#actionModal"><i class="mdi mdi-delete"></i>DELETE</button>


                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        }
        else
        {
            <div class="alert alert-warning col-md-12" role="alert">
                Sorry! No records exist.
            </div>
        }
    </div>
    
</div>

<script>
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
</script>



