@model RentPe.ViewModels.UserDashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}
<style>
    #UpdateBtn.loader {
        position: relative;
    }

        #UpdateBtn.loader:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid #f3f3f3;
            border-top: 2px solid #3498db;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            animation: spin 0.8s linear infinite;
        }

    @@keyframes spin {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }

        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

    .nav_cat {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

        .nav_cat.show {
            max-height: 900px;
        }

    #navCatContent {
        background-color: #fff;
        position: absolute;
        padding: 0px 0px 0;
        top: 100%;
        width: 100%;
        left: 0;
        right: 0;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
        z-index: 99;
    }

    .row {
        margin-left: calc(0 * var(--bs-gutter-x))
    }

    ul, li, ol {
        list-style-type: none;
    }

    .card-body {
        padding: 1rem 2rem;
    }

    .card-header {
        padding: 1rem 1rem;
    }
</style>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="dashboard_menu">
                    <ul class="nav nav-tabs flex-column" role="tablist">

                        @if (Model.ChatActiveOrNot == "Chat Active")
                        {
                            <li class="nav-item">
                                <a class="nav-link" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true"><i class="ti-layout-grid2"></i>Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="ti-shopping-cart-full"></i>Custom Offers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="ti-location-pin"></i>User Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="ti-id-badge"></i>Account details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="orderInfo-tab" data-bs-toggle="tab" href="#orderInfo" role="tab" aria-controls="orderInfo" aria-selected="true"><i class="ti-id-badge"></i>Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="chats-tab" data-bs-toggle="tab" href="#chats" role="tab" aria-controls="chats" aria-selected="false"><i class="ti-comment"></i>Chats</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()"><i class="ti-lock"></i>Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link active " id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="ti-layout-grid2"></i>Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="ti-shopping-cart-full"></i>Custom Offers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="ti-location-pin"></i>User Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="ti-id-badge"></i>Account details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="order-detail-tab" data-bs-toggle="tab" href="#order-detail" role="tab" aria-controls="order-detail" aria-selected="true"><i class="ti-id-badge"></i>Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="chats-tab" data-bs-toggle="tab" href="#chats" role="tab" aria-controls="chats" aria-selected="true"><i class="ti-comment"></i>Chats</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()"><i class="ti-lock"></i>Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">

                <div class="tab-content dashboard_content">

                    @if (Model.ChatActiveOrNot != "Chat Active")
                    {


                        <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Dashboard</h3>
                                    
                                </div>
                                <div class="card-body">
                                    <h5 class="text-danger">
                                        @if (Model.CustomOffers.Where(x => x.Status == "ACCEPTED" && x.Owner.Id != Model.SignedInUser.Id).Count() > 0)
                                        {
                                            <b>
                                                > Kindly Clear your Payment to Process your Order <
                                            </b>
                                        }
                                    </h5>
                                    <p>From your account dashboard. you can easily check &amp; view your recent orders, manage your shipping and billing addresses edit your password and account details.</p>

                                    <br />
                                    <b>Note: Enjoy RentPe with transparent and convenient transactions, featuring a nominal 2.5% processing fee.</b>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="tab-pane fade " id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Dashboard</h3>
                                </div>
                                <div class="card-body">
                                    <h5 class="text-danger">
                                        @if (Model.Orders.Where(x => x.Status == "PENDING PAYMENT").Count() > 0)
                                        {
                                            <b>
                                                > Kindly Clear your Payment to Process your Order <
                                            </b>
                                        }
                                        else if (Model.Orders.Where(x => x.Status == "VERIFYING PAYMENT").Count() > 0)
                                        {

                                            <b>
                                                > Some of your payments are being verified. Please Hold <
                                            </b>
                                        }
                                    </h5>
                                    <p>From your account dashboard. you can easily check &amp; view your recent orders, manage your shipping and billing addressesedit your password and account details.</p>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                        <div class="card">
                            <div class="card-header">
                                <h3>Custom Offers</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Picture</th>
                                                <th>Date</th>
                                                <th>Item</th>
                                                <th>Offered Rent</th>
                                                <th>Rent Date</th>
                                                <th>Return Date</th>
                                                <th>Action</th>

                                                <th>Status</th>
                                                <th>Payment Status </th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.CustomOffers != null)
                                            {
                                                foreach (var item in Model.CustomOffers)
                                                {
                                                    <tr>
                                                        <td><img src="@item.Item.MainImage" style="height:50px;width:50px;" /></td>
                                                        <td>@item.OfferDate.ToShortDateString()</td>
                                                        <td>@item.Item.ItemName</td>
                                                        <td>@item.OfferedPrice</td>
                                                        <td>@item.RentingDate.ToShortDateString()</td>
                                                        <td>@item.ReturnDate.ToShortDateString()</td>
                                                        <td id="OfferStatus_@item.ID">@item.Status</td>
                                                        <td><a href="@Url.Action("View", "Home", new { ID = item.Item.ID })" class="btn btn-fill-out btn-sm">View</a></td>
                                                        @if (item.Status == "PENDING")
                                                        {
                                                            <td>Not Applicable</td>
                                                            <td id="CustomOfferBtnTD"><button type="button" id="CancelOffer" data-id="@item.ID" class="btn btn-fill-out btn-sm">CANCEL OFFER</button></td>
                                                        }
                                                        else
                                                        {
                                                            if (item.Status == "WITHDRAWN")
                                                            {
                                                                <td>Not Applicable</td>
                                                                <td id="PaymentButton">
                                                                    <button disabled data-href="@Url.Action("Payment", "User", new { ID = item.ID })" type="button" class="data-btn btn btn-fill-out" data-bs-toggle="modal" data-bs-target="#custom-offer-modal"><i class="icon-basket-loaded"></i>PAY NOW</button>
                                                                </td>
                                                            }
                                                            else if (item.Status == "DECLINED")
                                                            {
                                                                <td>Not Applicable</td>
                                                                <td id="PaymentButton">
                                                                    <button disabled data-href="@Url.Action("Payment", "User", new { ID = item.ID })" type="button" class="data-btn btn btn-fill-out" data-bs-toggle="modal" data-bs-target="#custom-offer-modal"><i class="icon-basket-loaded"></i>PAY NOW</button>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    Awating Payment
                                                                </td>
                                                                <td id="PaymentButton">
                                                                    <button data-href="@Url.Action("Payment", "User", new { ID = item.ID })" type="button" class="data-btn btn btn-fill-out" data-bs-toggle="modal" data-bs-target="#custom-offer-modal"><i class="icon-basket-loaded"></i>PAY NOW</button>
                                                                </td>
                                                            }

                                                        }
                                                    </tr>
                                                }

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane fade" id="order-detail" role="tabpanel" aria-labelledby="order-detail-tab">
                        <div class="card">
                            <div class="card-header">
                                <h3>Orders</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Order No</th>
                                                <th>Date</th>
                                                <th>Item</th>
                                                <th>Total</th>
                                                <th>Remaining</th>
                                                <th>Paid</th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Orders != null)
                                            {
                                                foreach (var item in Model.Orders)
                                                {
                                                    <tr>
                                                        <td>@item.OrderNo</td>
                                                        <td>@item.Date</td>
                                                        <td>@item.ItemFull.ItemName</td>
                                                        <td>@item.TotalAmount</td>
                                                        <td>@item.AmountRemain</td>
                                                        <td>@item.AmountPaid</td>
                                                        <td id="OrderStatus_@item.ID">@item.Status</td>
                                                        @if (item.ItemFull.UserID == Model.SignedInUser.Id)
                                                        {
                                                            <td>
                                                                @if (item.VideoOfPacking == "" || item.VideoOfPacking == null)
                                                                {
                                                                    <button data-href="@Url.Action("UploadVideo", "User", new { ID = item.ID, Type = "Packing" })" type="button" class="data-btn btn btn-sm btn-fill-out" data-bs-toggle="modal" data-bs-target="#custom-offer-modal"><i class="icon-cloud-upload"></i>Upload Packing Video</button>

                                                                }
                                                                else
                                                                {
                                                                    <span>UPLOADED </span>
                                                                    @*<button data-href="@Url.Action("UploadVideo", "User", new { ID = item.ID, Type = "Packing" })" type="button" class="data-btn btn btn-sm btn-fill-out" data-bs-toggle="modal" data-bs-target="#custom-offer-modal"><i class="icon-cloud-upload"></i>Upload Packing Video</button>*@

                                                                }
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            if (item.Status == "PAYMENT PENDING")
                                                            {
                                                            <td id="PaymentButton">
                                                                <button data-href="@Url.Action("Payment", "User", new { ID = item.ID })" type="button" class="data-btn btn btn-sm btn-fill-out" data-bs-toggle="modal" data-bs-target="#custom-offer-modal"><i class="icon-basket-loaded"></i>PAY NOW</button>
                                                            </td>
                                                            }
                                                            else
                                                            {

                                                    <td>
                                                        <button disabled data-href="@Url.Action("Payment", "User", new { ID = item.ID })" type="button" class="data-btn btn btn-sm btn-fill-out" data-bs-toggle="modal" data-bs-target="#custom-offer-modal"><i class="icon-basket-loaded"></i>PAY NOW</button>
                                                        <button data-href="@Url.Action("UploadVideo", "User", new { ID = item.ID,Type="Unboxing" })" type="button" class="data-btn btn btn-sm btn-fill-out" data-bs-toggle="modal" data-bs-target="#custom-offer-modal"><i class="icon-cloud-upload"></i>Upload Unboxing Video</button>

                                                    </td>

                                                            }
                                                        }
                                                    </tr>
                                                }

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*//USer Info*@
                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">

                        <div class="row">
                            @if (Model.UserInfo != null)
                            {

                                <div class="col-lg-6">
                                    <div class="card mb-3 mb-lg-0">
                                        <div class="card-header">
                                            <h3>User Info</h3>
                                        </div>
                                        <div class="card-body">
                                            <p>Photo: </p><img style="height:200px; width:200px; object-fit:cover;" src="@Model.UserInfo.Photo" />
                                            <address>Address: @Model.UserInfo.Address</address>
                                            <p>City: @Model.UserInfo.City</p>
                                            <p>NIC: @Model.UserInfo.NIC</p>
                                            <button type="button" id="EditButton" class="btn btn-fill-out">Edit</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div id="UpdateInfo" style="display:none;" class="card mb-3 mb-lg-0">
                                        <div class="card-header">
                                            <h3>Update User Info</h3>
                                        </div>
                                        <div class="card-body">

                                            <div class="form-group">
                                                <label for="photoInput">Photo:</label>
                                                <input class="form-control" type="file" id="PhotoUpload" />
                                                <input class="form-control" type="hidden" id="Photo" />
                                                <img id="PhotoThumb" src="@Model.UserInfo.Photo" style="height:200px; width:200px; object-fit:cover;" />

                                                <hr />

                                            </div>
                                            <div class="form-group">
                                                <label for="addressInput">Address:</label>
                                                <input type="text" class="form-control" id="Address" value="@Model.UserInfo.Address" />
                                            </div>
                                            <div class="form-group">
                                                <label for="cityInput">City:</label>
                                                <input type="text" class="form-control" id="City" value="@Model.UserInfo.City" />
                                            </div>
                                            <div class="form-group">
                                                <label for="nicInput">NIC:</label>
                                                <input type="text" class="form-control" id="NIC" value="@Model.UserInfo.NIC" />
                                            </div>
                                            <hr />
                                            <button type="button" id="UpdateBtn" class="btn btn-fill-out">UPDATE</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                        <div class="card">
                            <div class="card-header">
                                <h3>Account Details</h3>
                            </div>
                            <div class="card-body">
                                <p>Update your account details</p>
                                @using (Html.BeginForm("UserProfile", "Account", FormMethod.Post))
                                {
                                    <div class="row mt-2">
                                        <input type="hidden" class="form-control" name="ID" placeholder="Full Name" value="@Model.ID">
                                        <div class="col-md-6"><label class="labels">Full Name</label><input type="text" name="Name" class="form-control" placeholder="Full Name" value="@Model.Name"></div>
                                        <div class="col-md-6"><label class="labels">Contact</label><input type="text" name="Contact" class="form-control" placeholder="enter phone number" value="@Model.Contact"></div>
                                    </div>
                                    <div class="row mt-3">

                                        <div class="col-md-6"><label class="labels">Email</label><input type="email" name="Email" class="form-control" placeholder="Enter Email" value="@Model.Email"></div>
                                        @*<div class="col-md-6"><label class="labels">UserName</label><input type="text" name="UserName" class="form-control" placeholder="Enter UserName" value="@Model.UserName"></div>*@
                                        <div class="col-md-6"><label class="labels">Password</label><input name="Password" type="password" class="form-control" placeholder="Password" value="@Model.Password"></div>

                                    </div>
                                    <div class="row mt-3">
                                    </div>
                                    <div class="mt-5 text-center"><button class="btn btn-fill-out" type="submit">Update Profile</button></div>
                                }
                            </div>
                        </div>
                    </div>
                    @if (Model.ChatActiveOrNot == "Chat Active")
                    {
                        <div class="tab-pane fade active show" id="chats" role="tabpanel" aria-labelledby="chats-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Conversations</h3>
                                </div>
                                <div class="card-body">
                                    @if (Model.InboxList != null)
                                    {
                                        <ul>

                                            @foreach (var conversation in Model.InboxList)
                                            {
                                                <li>
                                                    <div style="float:right;">
                                                        <button class="open-chat btn btn-sm btn-fill-out rounded-0" type="button" data-item-id="@conversation.Item" data-recieved-id="@conversation.RecievedBy.Id" data-sentby-id="@conversation.SentBy.Id">Open Chat</button>
                                                        <br />
                                                        <span style="font-size:13px">@conversation.Date</span>
                                                    </div>
                                                    <div>
                                                        <strong>@conversation.SentBy.Name</strong> to <strong>@conversation.RecievedBy.Name</strong>
                                                    </div>
                                                    <div>
                                                        @conversation.Message
                                                    </div>

                                                </li>
                                            }
                                        </ul>
                                    }


                                    <div id="chat-container"></div>

                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="tab-pane fade" id="chats" role="tabpanel" aria-labelledby="chats-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Conversations</h3>
                                </div>
                                <div class="card-body">
                                    @if (Model.InboxList != null)
                                    {
                                        <ul>

                                            @foreach (var conversation in Model.InboxList)
                                            {
                                                <li>
                                                    <div style="float:right;">
                                                        <button class="open-chat btn btn-sm btn-fill-out rounded-0" type="button" data-item-id="@conversation.Item" data-recieved-id="@conversation.RecievedBy.Id" data-sentby-id="@conversation.SentBy.Id">Open Chat</button>
                                                        <br />
                                                        <span>@conversation.Date</span>
                                                    </div>
                                                    <div>
                                                        <strong>@conversation.SentBy.Name</strong> to <strong>@conversation.RecievedBy.Name</strong>
                                                    </div>
                                                    <div>
                                                        @conversation.Message
                                                    </div>

                                                </li>
                                            }
                                        </ul>
                                    }


                                    <div id="chat-container"></div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade subscribe_popup" id="custom-offer-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">

    </div>
</div>

<script>
    $(".data-btn").click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        })
            .done(function (response) {
                $("#custom-offer-modal .modal-dialog").html(response);
            });
    });
    $('.categories_btn').on('click', function () {
        // Slide down the navCatContent element
        $('#navCatContent').toggleClass('show');
    });

    $("#UpdateBtn").click(function () {
        var button = document.getElementById('UpdateBtn');
        button.classList.add('loader');
        button.disabled = true;

        var Photo = $("#Photo").val();
        var Address = $("#Address").val();
        var City = $("#City").val();
        var NIC = $("#NIC").val()

		$.ajax({
			url: '@Url.Action("UserInfo", "User")',
			type: "post",
            data: {Photo:Photo,Address:Address,City:City,NIC:NIC}
		})
		.done(function (response) {
			if(response.success)
            {
                alert("Updated");
				location.reload();
			}
			else {
				$(".errorDiv").html(response.Message);
			}
		});
    });

    $("#EditButton").click(function () {
        $("#UpdateInfo").fadeToggle("slow");
    });


    $("#CancelOffer").click(function () {
        var button = $(this);
        button.addClass('loader');
        button.prop('disabled', true);

        var ID = $(this).data('id');

        // Show confirmation prompt
        var confirmation = confirm("Are you sure you want to cancel this offer?");
        if (confirmation) {
            $.ajax({
                url: '@Url.Action("CancelCustomOffer", "User")',
                type: "post",
                data: { ID: ID }
            })
                .done(function (response) {
                    if (response.success) {
                        alert("Offer Cancelled");
                        $("#CustomOfferBtnTD").hide();
                        $("#OfferStatus_" + ID + "").text("WITHDRAWN");

                    } else {
                        $(".errorDiv").html(response.Message);
                    }
                });
        } else {
            // If the user cancels, re-enable the button
            button.removeClass('loader');
            button.prop('disabled', false);
        }
    });



    $("#PhotoUpload").change(function () {

        var element = this;
        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadImage", "Shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {

                console.log(response);
                if (response.success) {
                    $("#Photo").val(response.DocURL);
                    $("#PhotoThumb").attr("src", response.DocURL);

                }

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })
    });



    $(document).ready(function () {

        $('.open-chat').click(function () {
            var $button = $(this); // Store reference to the clicked button

            var recivedby = $(this).data('recieved-id');
            var sentby = $(this).data('sentby-id');
            var item = $(this).data('item-id');

            $button.prop('disabled', true).html('<span class="spinner"></span>Loading...'); // Disable the button and change its content

            openChat(sentby, recivedby,item, $button);

        });

        $('#chat-container').on('click', '.back-button', function () {
            showInbox();
        });


        function openChat(sentby, recievedby, item, $button) {

            var $originalButton = $button; // Store reference to the button outside the callback
            $.ajax({
                url: '@Url.Action("ChatPartial", "User")',
                data: { SentBy: sentby, RecievedBy: recievedby,Item:item },
                success: function (result) {
                    $('#chat-container').html(result).hide().fadeIn();
                },
                complete: function () {
                    $originalButton.prop('disabled', false).html('Open Chat'); // Enable the button and restore its original content
                }
            });
        }


        function updateChat(sentby, recievedby) {
            $.ajax({
                url: '@Url.Action("ChatPartial", "User")',
                data: { SentBy: sentby, RecievedBy: recievedby },
                success: function (result) {
                    $('#chat-container').html(result).hide().fadeIn();
                }
            });
        }



        function showInbox() {
            $('#chat-container').fadeOut(function () {
                $(this).empty();
            });
        }
    });
</script>