@model RentPe.ViewModels.ItemCategoryActionViewModel

@{
    ViewBag.Title = "Action";
}
<style>
    #actionButton.loader {
        position: relative;
    }

    #actionButton.loader:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid #f3f3f3;
        border-top: 2px solid #3498db;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        animation: spin 0.8s linear infinite;
    }

@@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

</style>
<form id="actionForm">
    <div class="row">
        <div class="card col-12">
            <div class="card-body">
                @if (Model.ID != 0)
                {
                    <h2 class="card-title">Item Category Edit</h2>

                }
                else
                {
                    <h2 class="card-title">Item Category Create</h2>
                }
                <hr />

                <div class="row">

                    <div class="col-10">
                        <div class="input-group">
                            <div class="input-group-prepend col-10">
                                <span class="input-group-text" id="">Item Category</span>
                                <input value="@Model.CategoryName" id="CategoryName" name="CategoryName" type="text" class="form-control">

                            </div>
                            <input value="@Model.ID" id="ID" name="ID" type="hidden" class="form-control">

                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                @if (Model.ID != 0)
                {
                    <button id="actionButton" type="button" class="btn btn-primary"><i class="fa fa-save mr-1"></i> Update</button>
                }
                else
                {
                    <button id="actionButton" type="button" class="btn btn-primary"><i class="fa fa-save mr-1"></i> Save</button>
                }
                <a href="@Url.Action("Index","ItemCategory")" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times mr-1"></i> Close</a>
            </div>
        </div>

    </div>
</form>

<script>
    $("#actionButton").click(function () {
        var button = document.getElementById('actionButton');
        button.classList.add('loader');
        button.disabled = true;
    $.ajax({
        url: '@Url.Action("Action", "ItemCategory")',
        type: "POST",
        data: $("#actionForm").serialize()
    })
        .done(function (response) {
            
        if (response.success) {
            window.location.href = '@Url.Action("Index", "ItemCategory")';
        } else {
            $(".errorDiv").html(response.Message);
            button.classList.remove('loader');
            button.disabled = false;
        }
    })
    .fail(function (xhr, status, error) {
        console.error(xhr.responseText);
    });
});

</script>

